
.bestellt { 
  -fx-control-inner-background: firebrick;   
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.wirdGekocht { 
  -fx-control-inner-background: palegreen;   
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

