<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="databaseManager" class="sepm.ss13.gast.dao.DBConnector" factory-method="instance" init-method="openConnection" scope="singleton">
        <constructor-arg name="host" value="www.bachl.tk" />
        <constructor-arg name="database" value="" />
        <constructor-arg name="userName" value="SA" />
        <constructor-arg name="password" value="lalalalalala" />
    </bean>

    <!--<bean name="productDAO" class="at.ac.tuwien.sepm.dao.JDBCProductDAO" scope="singleton">
        <constructor-arg name="databaseManager" ref="databaseManager" />
    </bean>

    <bean name="productService" class="at.ac.tuwien.sepm.service.ProductService" scope="singleton">
        <property name="productDAO" ref="productDAO" />
    </bean>

    <bean name="mainFrame" class="at.ac.tuwien.sepm.ui.MainFrame" scope="prototype">
        <constructor-arg name="databaseManager" ref="databaseManager" />
        <constructor-arg name="productService" ref="productService" />
    </bean>-->

</beans>