<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  <bean id="databaseManager" class="at.ac.tuwien.sepm.database.HSQLDatabaseManager" init-method="init" scope="singleton">
        <constructor-arg name="host" value="localhost" />
        <constructor-arg name="database" value="productive" />
        <constructor-arg name="username" value="sa" />
        <constructor-arg name="password" value="" />
    </bean>

    <bean name="productDAO" class="at.ac.tuwien.sepm.dao.JDBCProductDAO" scope="singleton">
        <constructor-arg name="databaseManager" ref="databaseManager" />
    </bean>

    <bean name="productService" class="at.ac.tuwien.sepm.service.ProductService" scope="singleton">
        <property name="productDAO" ref="productDAO" />
    </bean>

    <bean name="mainFrame" class="at.ac.tuwien.sepm.ui.MainFrame" scope="prototype">
        <constructor-arg name="databaseManager" ref="databaseManager" />
        <constructor-arg name="productService" ref="productService" />
    </bean>-->

</beans>